/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font: "IBM Plex Mono", sans-serif;
  --font-size-text: 1.125rem;
  --font-line-height: 1.4625rem;
  --small-space: 0.625rem;
  --middle-space: 1.25rem;
}