/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font: "IBM Plex Mono", sans-serif;
  --font-size-text: 1.125rem;
  --font-line-height: 1.4625rem;
  --small-space: 0.625rem;
  --middle-space: 1.25rem;
}

/* Файл variables.css */
:root {
  --accent-color: #ff0070;
}

/* Файл style.css (dark theme) */
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color-title: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --header-text-color: var(--accent-color);
  --header-decor-text: var(--bg-color);
  --bg-color-text: var(--accent-color);
  --shadow-color-title: var(--accent-color);
  --title-text-color: var(--accent-color);
}

/* Файл light.css */
:root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color-light: #ff8dcb;
  --accent-color-title: #ffc2e6;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --header-text-color: var(--text-color);
  --header-decor-text: var(--text-color);
  --bg-color-text: var(--accent-color-light);
  --shadow-color-title: var(--accent-color);
  --title-text-color: var(--text-color);
}
